* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial;
}

.header {
    height: 400px;
    background: url(header_pic.jpg) center;
    background-size: cover;
    display: block;
    justify-content: center;
    color: white;
    font-size: 30px;
}

.nav{
    text-align: center;
    float: center;
}
